export HOMELAB_IP="";
export HOMELAB_PORT="22";
export HOMELAB_HOSTNAME="";
export HOMELAB_USER="";
export HOMELAB_PASSWORD="";
export HOMELAB_BECOME_USER="";
export HOMELAB_BECOME_PASSWORD="";

if [ -e .envrc.local ]; then
  source .envrc.local
fi
