export HOMELAB_IP="";
export HOMELAB_PORT="22";
export HOMELAB_USER="";
export HOMELAB_PASSWORD="";
export HOMELAB_BECOME_USER="";
export HOMELAB_BECOME_PASSWORD="";

export PROJECT_DIR="";

export CLOUDFLARE_ACCOUNT_ID="";
export CLOUDFLARE_ACCOUNT_EMAIL_ADDRESS="";
export CLOUDFLARE_DNS_API_TOKEN="";
export CLOUDFLARE_TUNNEL_ID="";
export CLOUDFLARE_TUNNEL_TOKEN="";

export LETSENCRYPT_CA_SERVER="https://acme-v02.api.letsencrypt.org/directory";
export LETSENCRYPT_EMAIL_ADDRESS="";

export ROOT_DOMAIN="";

export GRAFANA_USER="";
export GRAFANA_PASSWORD="";

export GOOGLE_OAUTH_CLIENT_ID="";
export GOOGLE_OAUTH_CLIENT_SECRET="";

export SUPER_ADMIN_USERS="";
export ADMIN_USERS="";
export GUEST_USERS="";

if [ -e .envrc.local ]; then
  source .envrc.local
fi
